.filter {
    margin: 10px auto 10px auto;
    padding: 10px;

} 

.filter > label { 
  width: 300px;
}
  
.filter input {
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
   

.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
 
}